<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashBoard</servlet-name>
    <servlet-class>DashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoard</servlet-name>
    <url-pattern>/DashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainPage</servlet-name>
    <servlet-class>MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPage</servlet-name>
    <url-pattern>/MainPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseByTitle</display-name>
    <servlet-name>BrowseByTitle</servlet-name>
    <servlet-class>BrowseByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByTitle</servlet-name>
    <url-pattern>/BrowseByTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseByGenre</display-name>
    <servlet-name>BrowseByGenre</servlet-name>
    <servlet-class>BrowseByGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByGenre</servlet-name>
    <url-pattern>/BrowseByGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StarInfo</display-name>
    <servlet-name>StarInfo</servlet-name>
    <servlet-class>StarInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StarInfo</servlet-name>
    <url-pattern>/StarInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pages</display-name>
    <servlet-name>Pages</servlet-name>
    <servlet-class>Pages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pages</servlet-name>
    <url-pattern>/Pages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStar</display-name>
    <servlet-name>InsertStar</servlet-name>
    <servlet-class>InsertStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStar</servlet-name>
    <url-pattern>/InsertStar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMovieInfo</display-name>
    <servlet-name>InsertMovieInfo</servlet-name>
    <servlet-class>InsertMovieInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMovieInfo</servlet-name>
    <url-pattern>/InsertMovieInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMovie</display-name>
    <servlet-name>InsertMovie</servlet-name>
    <servlet-class>InsertMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMovie</servlet-name>
    <url-pattern>/InsertMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoDash</display-name>
    <servlet-name>GotoDash</servlet-name>
    <servlet-class>GotoDash</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoDash</servlet-name>
    <url-pattern>/_Dashboard</url-pattern>
  </servlet-mapping>

<security-constraint>
 <web-resource-collection>
    <web-resource-name>HTTPSOnly</web-resource-name>
    <url-pattern>/*</url-pattern>
 </web-resource-collection>
 <user-data-constraint>
    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
 </user-data-constraint>
</security-constraint>
   <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOrHTTP</web-resource-name>
            <url-pattern>*.ico</url-pattern>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
